<a href="https://colab.research.google.com/github/Maissameer/PythonPandas/blob/main/PythonPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Create list
fruits_list = ['Apple', 10, 'Orange', 55.50]
print(fruits_list)

# Create DataFrame from list
fruits_df = pd.DataFrame(fruits_list, columns=['Fruits'])
print(fruits_df)

['Apple', 10, 'Orange', 55.5]
   Fruits
0   Apple
1      10
2  Orange
3    55.5

In [ ]:
import pandas as pd

# Create list
fruits_list = ['Apple', 'Banana', 'Orange','Mango']
print(fruits_list)

# Create DataFrame from list
fruits_df = pd.DataFrame(fruits_list, index=['Fruit1', 'Fruit2', 'Fruit3', 'Fruit4'])
print(fruits_df)

['Apple', 'Banana', 'Orange', 'Mango']
             0
Fruit1   Apple
Fruit2  Banana
Fruit3  Orange
Fruit4   Mango

In [ ]:
import pandas as pd

# Create list
price_list = ['50', '100', '60', '20']
print(price_list)

# Create DataFrame from list
price_df = pd.DataFrame(price_list)
print("Data type before : ", price_df.dtypes)

# Create DataFrame from list with type change
price_df = pd.DataFrame(price_list, dtype='float64')
print("Data type after : ", price_df.dtypes)
print(price_df)

['50', '100', '60', '20']
Data type before :  0    object
dtype: object
Data type after :  0    float64
dtype: object
       0
0   50.0
1  100.0
2   60.0
3   20.0

In [ ]:
import pandas as pd

# Create list
fruits_list = [['Apple', 'Banana', 'Orange', 'Mango'],[120, 40, 80, 500]]
print(fruits_list)

# Create DataFrame from list
fruits_df = pd.DataFrame(fruits_list).transpose()
print(fruits_df)

[['Apple', 'Banana', 'Orange', 'Mango'], [120, 40, 80, 500]]
        0    1
0   Apple  120
1  Banana   40
2  Orange   80
3   Mango  500

In [ ]:
import pandas as pd

# Create multiple lists
fruits_list = ['Apple', 'Banana', 'Orange', 'Mango']
price_list = [120, 40, 80, 500]

# Create dict
fruits_dict = {'Name': fruits_list,
               'Price': price_list}
print(fruits_dict)

# Create DataFrame from dict
fruits_df = pd.DataFrame(fruits_dict)
print(fruits_df)

{'Name': ['Apple', 'Banana', 'Orange', 'Mango'], 'Price': [120, 40, 80, 500]}
     Name  Price
0   Apple    120
1  Banana     40
2  Orange     80
3   Mango    500

In [ ]:
import pandas as pd

student_dict = {'Name': ['Joe', 'Nat', 'Harry','Jack','Jose','Jill','Rose'],
                'Age': [20, 21, 19,17,18,19,17],
                'Marks': [85.10, 77.80, 91.54,72,87.9,90,72]}

# create DataFrame from dict
student_df = pd.DataFrame(student_dict)

# display first 5 rows
topRows = student_df.tail(-2)
print(topRows)

    Name  Age  Marks
2  Harry   19  91.54
3   Jack   17  72.00
4   Jose   18  87.90
5   Jill   19  90.00
6   Rose   17  72.00

In [ ]:
import pandas as pd

index = pd.MultiIndex.from_tuples([('Standard 1', 'Class A'), ('Standard 1', 'Class B'),
                                   ('Standard 2', 'Class A'), ('Standard 2', 'Class B'),
                                   ('Standard 3', 'Class A'), ('Standard 3', 'Class B')],
                                  names=['Standard', 'Class'])

columns = pd.MultiIndex.from_tuples([('Name', 'Surname'),
('Marks', 'Percentage')])

# create multi-index dataframe
student_df = pd.DataFrame([('Joe', 91.56), ('Nat', 87.90),('Harry', 70.10), 
                           ('Sam', 65.48), ("Jill", 72), ("Jane", 80)],
                          index=index, columns=columns)

topRows = student_df.head()
print(topRows)

                      Name      Marks
                   Surname Percentage
Standard   Class
Standard 1 Class A     Joe      91.56
           Class B     Nat      87.90
Standard 2 Class A   Harry      70.10
           Class B     Sam      65.48
Standard 3 Class A    Jill      72.00

In [ ]:
import pandas as pd

student_dict = {'Name': ['Joe', 'Nat', 'Harry',], 'Age': [20, 21, 19], 
                'Marks': [85.10, 77.80, 91.54]}

# create DataFrame from dict
student_df = pd.DataFrame(student_dict)
print(student_df)
student_df.at[2,"Age"]= 55
value = student_df.at[2,"Age"]

print(value)  # --> Output: 55

    Name  Age  Marks
0    Joe   20  85.10
1    Nat   21  77.80
2  Harry   19  91.54
55

In [ ]:
import pandas as pd

student_dict = {'Name': ['Joe', 'Nat', 'Harry',], 'Age': [20, 21, 19],
                'Marks': [85.10, 77.80, 91.54]}

# create DataFrame from dict
student_df = pd.DataFrame(student_dict)
print(student_df.at[2,"Age"])

# change the value
student_df.at[2,"Age"] = 50
print(student_df.at[2,"Age"])

19
50

In [ ]:
import pandas as pd

student_dict = {"name": ["Joe", "Nat"], "age": [20, 21], "marks": [85.10, 77.80]}

student_df = pd.DataFrame(student_dict)
print(student_df.columns.values)

# drop 2 columns at a time
student_df = student_df.drop(columns=['age', 'marks'])

print(student_df.columns.values)

['name' 'age' 'marks']
['name']